@font-face {
  font-family: "DisneyFont";
  src: url("./assets/WaltDisneyFontRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: cursive, sans-serif;
  font-size: large;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #04060f 0%, #090e25 50%, #1a306c 100%) center/cover
    no-repeat fixed;
  color: #dfdfdf;
}
*::first-letter {
  font-family: DisneyFont, cursive, sans-serif;
  font-size: 1.5rem;
  line-height: 0.5rem;
}
